@import "../../../../../styles/abstracts/variables";

.toolbar-container {
  display: flex;
  justify-content: flex-start;
  border: 1px solid $color-grey-light-1;
  background-color: $color-white;
  box-shadow: 13px 5px 16px -11px rgba(0,0,0,0.26);
  padding: .5rem 0;

  .tool {
    display: flex;
    flex-basis: 20%;
    align-items: center;
    padding: 0.4rem;
    color: $color-grey-dark-2;
    border: 1px solid $color-grey-light-1;
    border-radius: 2px;
    background-color: $color-white;
    margin: .3rem;
    cursor: pointer;
    z-index: 50;

    &:not(:last-child){
      margin-right: 1rem;
    }

    &__image {

    }

    &__title {
      color: $color-grey-dark-2;
      font-size: 1.2rem;
      letter-spacing: 0.04rem;
      margin: 0 .5rem 0 0;
    }

    .pill-container {
        display: flex;
        cursor: pointer;
      &__placeholder {
        font-size: 1.2rem;
      }

      .pill {
        border: 1px solid $color-primary-light-1;
        border-radius: .6rem;
        background-color: #F5F7F8;
        padding: 0 .5rem;

        &:not(:first-child){
          margin-left: 2px;
        }

        &__text {
          font-size: 1.1rem;
          white-space: nowrap;
        }

        &__cancel{
          margin-left: 5px;
          font-size: 1.4rem;
          color: $color-primary-light-1;
          cursor: pointer;
        }
      }
    }

  }
}




//function flyout
.fx{
  display: flex;
  position: absolute;
  left: 1vw;
  z-index: 50;
  background: $color-white;
  border: 1px solid #E9E9E9;
  box-shadow: 0 .2rem .7rem .1rem rgba($color-white,0.06);
  &__left {
    width: 58vw;
    border-right: 1px solid $color-grey-light-1;
    box-shadow: .4rem 0px 1.7rem #ccc;
    z-index: 100;
  }

  &__right {
    background: $color-white;
    width: 38vw;
    z-index: 50;
    &-details{
      padding: 3rem;
    }

  }

  &__header {
    padding: 1rem .4rem .8rem 1rem ;
    display: flex;
    justify-content: space-between;

    &-title {
      font-size: 1.8rem;
      font-weight: 300;
    }
  }

  &__content {
    display: flex;
  }

  &__search-results {
    padding: 2rem;
  }

  &__menu {
    width: 30%;
    background: white;
    box-shadow: 4px 0px 17px $color-grey-light-3;

  }

  &__list {
    display: flex;
    width: 100%;
    padding: 2rem;
    height: calc(100vh - 25rem);
    overflow-y: scroll;
    margin-bottom: 2rem;

    &-left {
      flex: 1;
    }

    &-right {
      flex: 1;
    }
  }

  &-menu {
    &__item {
      padding: 2rem;
      cursor: pointer;

      &:hover {
        color: $color-primary-light;
        border-right: .3rem solid currentColor;
      }
    }

    .active-fx-category {
      color: $color-primary-light;
      border-right: .3rem solid currentColor;
    }
    &__title {
      font-size: 1.2rem;
      font-weight: 400;
    }
  }

  &-list {
    &__item{
      margin-bottom: 1rem;
    }

    &__title {
      font-size: 1.2rem;
      font-weight: 700;
      margin-bottom: 1.5rem;
    }

    &__subtitle {
      font-size: 1.2rem;
      font-weight: 300;
      cursor: pointer;

      &:hover {
        color: $color-primary-light;
      }
    }
  }

  &__search {

    &-results {
      height: calc(100vh - 25rem);
    }

    &-items {
      padding: 1.5rem 1rem;
      font-size: 1rem;
      color: $color-grey-light-2;
      cursor: pointer;

      &:hover {
        color: $color-primary;
      }
    }

    &-name {
      font-weight: 700;
      margin-right: 1.4rem;
    }

    &-category {
     font-weight: 300;
    }
  }

  &-active__category {
    color: $color-primary-light;
    border-right: .3rem solid currentColor;
  }
  &-active {
    color: $color-primary-light;
  }
}

.fx-flyout__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  opacity: 0.4;
}
