@import "../../../../../styles/abstracts/variables";


//STEPS COMPONENT
.steps{
  width: 30rem;
  height: calc(100vh - 5.5rem);
  z-index: 29;
  background-color: $color-white;
  box-shadow: -.3rem .6rem .5rem rgba($color-black, .2) ;

  &__header{
    padding: 1.5rem 2.5rem .3rem 2.5rem;
  }
}


//STEP COMPONENT (individual step)
.step{
  padding: 1.5rem 2rem 1.5rem 4rem;
  position: relative;
  font-size: 1.4rem;

  &__index-no{
    position: absolute;
    top: 1.5rem;
    left: 2.5rem;

    &::after{
      content: " ";
      position: absolute;
      top: -.15rem;
      left: -.4rem;
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 50%;
      background-color: lightblue;
      z-index: -5;
      border: 1px solid blue;
    }
  }

  &__main-container{
    padding: 0 1.5rem;
  }

  &__info-container{

  }

  &__actions-container{
    padding: .5rem 0;
    display: flex;
    justify-content: space-between;
  }
}