@import "../../../../../styles/abstracts/variables";


//STEPS COMPONENT
.steps{
  width: 30rem;
  height: calc(100vh - 5.5rem);
  z-index: 29;
  background-color: $color-white;
  box-shadow: -.3rem .6rem .5rem rgba($color-black, .2);
  transition: transform .5s ease-out, width .6s .1s;

  &__header{
    padding: 1.5rem 2.5rem .3rem 2.5rem;
  }

  &__item{
    list-style: none;
  }

  &__toggle-btn{
    &--1{
      width: 4rem;
      height: 4rem;
      position: absolute;
      right: 2rem;
      bottom: 2rem;
      //clip-path: polygon(0 10% , 100% 0, 100% 100%, 0 90%);
      background-color: rgba(#777, .3);
      border-radius: 50%;
      transition: opacity .1s;
      &:hover{
        background-color: rgba(#777, .6);
      }

      &-hide{
        opacity: 0;
        visibility: hidden;
      }
    }

    &--2{
      width: 3rem;
      height: 4rem;
      position: absolute;
      left: -33rem;
      bottom: 5rem;
      border-top-left-radius: 5rem;
      border-bottom-left-radius: 5rem;
      background-color: #28b485;
      transition: all .2s .8s, left .2s, opacity .2s .8s, width .2s;
      opacity: 1;

      &:hover{
        left : -35rem;
        width: 5rem;
      }

      &-hide{
        opacity: 0;
        transform: translateX(4rem);
        transition: opacity .3s, transform .2s 1.2s;
        visibility: hidden;
      }
    }
  }

  &__sub-container{
    display: flex;
    align-items: center;
  }

  &__number-of-selected{
    margin-right: auto;
  }

  &__action-wrapper{

    &:not(:last-child){
      margin-right: 1.5rem;
    }
  }

  &__action-icon{
    height: 1.2rem;
    cursor: pointer;
    transition: opacity .1s;

    &--active{
      opacity: .3;
    }

    &--bigger{
      height: 1.6rem;
    }
  }

  &--closed{
    transform: translateX(30rem);
    width: 0;
    //display: none;
  }


}


//STEP COMPONENT (individual step)
.step{
  padding: 1.5rem 2rem;
  font-size: 1.4rem;
  display: flex;

  &__main-container{
    padding: 0 1.5rem;
    flex: 1;
  }

  &__info-container{

  }

  &__functions-wrapper, &__columns-wrapper{
    display: flex;
    align-items: center;
  }

  &__icon-wrapper{
    margin-right: 1rem;
  }

  &__actions-container{
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
  }

  &__icon{
    height: 1.3rem;
  }

  &__action{
    background: transparent;
    border: none;
    color: gray;
    //padding-bottom: .5rem;
    border-bottom: 1px solid gray;
    font-size: 1.3rem;

    &:hover{
      text-decoration: none;
      color: gray;
  }
  }

  &--undo{
    background-color: black;
  }
}
