@import "../../../../../styles/abstracts/variables";

.toolbar-container {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #DCDCDC;
  background-color: #FFFFFF;
  box-shadow: 13px 5px 16px -11px rgba(0,0,0,0.26);
  width: calc(100vw - 30rem);
  .tool {
    display: flex;
    align-items: center;
    padding: .2rem .4rem;
    color: $color-grey-dark-2;
    border: 1px solid #DEDEDE;
    border-radius: 2px;
    height: 40px;
    width: 492px;
    background-color: #FFFFFF;
    margin: .3rem;
    &:not(:last-child){
      margin-right: 3rem;
    }

    &__image {

    }

    &__title {
      color: #9B9B9B;
      font-size: 1.4rem;
      letter-spacing: 0.04rem;
      margin: 0 .5rem 0 0;
    }

    .pill-container {
        display: flex;
      &__placeholder {
        font-size: 1.4rem;
      }

      .pill {
        border: 1px solid #D6E9FF;
        border-radius: .6rem;
        background-color: #F5F7F8;
        padding: .3rem .5rem;

        &:not(:first-child){
          margin-left: 2px;
        }

        &__text {
          font-size: 1.4rem;
          white-space: nowrap;
        }

        &__cancel{
          margin-left: 5px;
          font-size: 1.4rem;
          color: #D6E9FF;
          cursor: pointer;
        }
      }
    }

  }
}
