// COLORS
$color-primary: #0068E0;
$color-primary-light: #5697E2;
$color-primary-light-1:#D6E9FF;

$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #DEDEDE;
$color-grey-light-2: #9B9B9B;
$color-grey-light-3: #ccc;


$color-grey-dark:#484848;
$color-grey-dark-2: #4A4A4A;

$color-white: #fff;
$color-black: #000;

