// COLORS
$color-primary-light: #5697E2;
$color-primary-light-1:#D6E9FF;

$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #DEDEDE;
$color-grey-light-2: #9B9B9B;
$color-grey-light-3: #ccc;

$color-grey-dark:#484848;
$color-grey-dark-2: #4A4A4A;


//COLOR PALLET

$color-primary : #00326E;
$color-secondary : #FF8D00;
$color-tertiary : #EFF5FC;


$text-color-primary : #141414;
$text-color-secondary : #fffff;
$text-color-tertiary : #9B9B9B;
$text-color-quad : #DFDFDF;

$pill-fill-color : #EFF5FC;
$pill-border-color : #A6D0FF;

$color-white: #fff;
$color-black: #000;


$color-table-name-bg: #f5f7f8;
