.index-no{
  position: absolute;
  top: 1.5rem;
  left: 2.5rem;

  &::after{
    content: " ";
    position: absolute;
    top: -.2rem;
    left: -.4rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: lightblue;
    z-index: -5;
    border: 1px solid blue;
  }

  &--1{
    position: absolute;
    top : 1.5rem;
    left : 4.5rem;
    z-index: 1;
    color: black;

    &::after{
      content: " ";
      position: absolute;
      top: -.5rem;
      left: -1.1rem;
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 50%;
      background-color: lightblue;
      z-index: -1;
      border: 1px solid blue;
    }
  }

}