.header-create {
  padding: 1rem 2rem;
  background-color: #FFFFFF;
  box-shadow: 1.3rem .5rem 1.6rem -1.1rem rgba(0,0,0,0.26);
  z-index: 30;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {

  }

  .title {
    margin-right: auto;
  }
}



//wizard
