@import "../../../../../../styles/abstracts/variables";

.table {
  display: flex;
  margin: 2rem 0 0 2rem;;

  &__name {
    height: 3rem;
    width: 15rem;
    border: 1px solid $color-grey-light-3;
    border-radius: 2px;
    background-color: $color-table-name-bg;
    padding: 0.2rem;
    font-size: 1.5rem;
  }
}

.data-table {
  width: calc(100vw - 34rem);
  margin: 0 2rem;
  font-size: 12px;
}

.ReactTable {
  height: calc(100vh - 130px) !important;
  .rt-thead,
  .rt-tr {
    text-align: left !important;
  }
}

