@import "../../../../../styles/abstracts/variables";

.bg-scenario-header {
  padding: 2rem 2rem 1rem 2rem;
  display: flex;
  align-items: center;
  background-color: $color-primary-bg;
  z-index: 30;
  color : $color-white;

  .logo{
    width: 80%;
    height: 40%;
  }

  .case-title {
    font-weight: 300;
    font-size: 1.8rem;
    letter-spacing: 0.57px;
    line-height: 3.0rem;
    font-family: inherit;
    margin-left: auto;
  }

  .scenario-item  {
    font-size: 1.6rem;
    color: $color-white;
    font-weight: 300;

    margin-left: 1rem;



    .reference {
      color: $color-white;
      letter-spacing: 0.4px;
      line-height: 2.1rem;
      text-decoration: none;
      padding: 1rem 1.5rem;
      font-family: inherit;
    }

    .active {
      border-bottom: .2rem solid $color-secondary;
      color: $color-secondary;
      padding: 1rem 1.7rem .5rem 1.7rem;
    }
  }
}