.bg-sub-header {
  background-color: #FFFFFF;
  box-shadow: 13px 5px 16px -11px rgba(0,0,0,0.26);
  padding: 15px;
  z-index: 28;

  &__left-container {

  }

  &__right-container {
    display: flex;
    width: calc(100vw - 45rem);
    justify-content: flex-end;
  }

  &__items {
    font-size: 1.4rem;
  }

  &__link {
    &:link, &:visited{
      color: #9B9B9B;
      letter-spacing: 0.4px;
      line-height: 21px;
      //text-decoration: none;
      padding: 15px;
      font-family: inherit;
      font-size: 1.4rem;
    }

    &:hover{
      text-decoration: none;
      color: #0068E0 ;
    }
  }

  .active {
    border-bottom: 3px solid #0068E0;
    color: #0068E0;
  }
}
