.bg-scenario-sub-header {
  background-color: #FFFFFF;
  box-shadow: 13px 5px 16px -11px rgba(0,0,0,0.26);
  padding: 15px;
  z-index: 28;
  width: calc(100vw - 30rem);

  .case-title {
    font-weight: 300;
    margin: 0 4rem 0 0;
    font-size: 20px;
    letter-spacing: 0.57px;
    line-height: 30px;
    font-family: inherit;
  }

  .sub-header-items  {
    font-size: 1.4rem;

    .sub-header-text {
      color: #9B9B9B;
      letter-spacing: 0.4px;
      line-height: 21px;
      text-decoration: none;
      padding: 15px;
      font-family: inherit;
      font-size: 1.4rem;
    }

    .active {
      border-bottom: 3px solid #0068E0;
      color: #0068E0;
    }
  }
}