@import "../../../../../../styles/abstracts/variables";

.toolbar-container {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #DCDCDC;
  background-color: #FFFFFF;
  box-shadow: 13px 5px 16px -11px rgba(0,0,0,0.26);
  width: calc(100vw - 30rem);
  padding: .2rem 0;
  .tool {
    display: flex;
    flex-basis: 20%;
    align-items: center;
    padding: 0 .4rem;
    color: $color-grey-dark-2;
    border: 1px solid #DEDEDE;
    border-radius: 2px;
    background-color: #FFFFFF;
    margin: .3rem;
    cursor: pointer;
    &:not(:last-child){
      margin-right: 3rem;
    }

    &__image {

    }

    &__title {
      color: #9B9B9B;
      font-size: 1.4rem;
      letter-spacing: 0.04rem;
      margin: 0 .5rem 0 0;
    }

    .pill-container {
        display: flex;
        cursor: pointer;
      &__placeholder {
        font-size: 1.4rem;
      }

      .pill {
        border: 1px solid #D6E9FF;
        border-radius: .6rem;
        background-color: #F5F7F8;
        padding: .3rem .5rem;

        &:not(:first-child){
          margin-left: 2px;
        }

        &__text {
          font-size: 1rem;
          white-space: nowrap;
        }

        &__cancel{
          margin-left: 5px;
          font-size: 1.4rem;
          color: #D6E9FF;
          cursor: pointer;
        }
      }
    }

  }
}




//function flyout
.fx{
  display: flex;
  position: absolute;
  width: 100%;
  height: calc(100vh - 16rem);
  left: 0;
  z-index: 2;
  background: rgba(white, 0.4);
  &__left {
    flex: 1;
    background: orangered;
  }

  &__right {
    flex: 1;
    background: yellowgreen;
  }

  &__header {
    padding: 1rem .4rem .8rem 1rem ;
  }

  &__content {

  }

  &__menu {
    width: 100px;
    height: 100px;
    box-shadow: 4px 0px 17px #cccccc
  }

  &__list {
    height: calc(100vh - 16rem);
  }
}
